<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="nativeGeo" class="pe.com.jdmm21.plant.app.decorator.Native"></bean>
  <bean id="herbaceous" class="pe.com.jdmm21.plant.app.decorator.Herbaceous"></bean>
  <bean id="woody" class="pe.com.jdmm21.plant.app.decorator.Woody"></bean>
   <bean id="evergreen" class="pe.com.jdmm21.plant.app.decorator.Evergreen"></bean>
  
	
  <bean id="plantAttributeGroup" class="pe.com.jdmm21.plant.app.decorator.PlantAttributeGroup" scope="singleton">
		<property name="decorators">
				<map>
						<entry key="Herbaceous Plant (Flower)" value-ref="herbaceous"></entry>
						<entry key="Native" value-ref="nativeGeo"></entry>
						<entry key="Woody Plant" value-ref="woody"></entry>
						<entry key="Evergreent" value-ref="evergreen"></entry>
				</map>
		</property>
  </bean>

	<bean id = "broadLeafPlantHelper" class="pe.com.jdmm21.plant.app.helper.WoodyHelper" scope="prototype">
		<property name="genus" value="Mahonia"></property>
		<property name="species" value="Aquifolium"></property>
		<property name="common" value="Oregon"></property>
		<property name="evergreenHelper" ref="broadLeafEvergreenHelper"></property>
		
	</bean>
	<bean id = "herbaceousPlantHelper" class="pe.com.jdmm21.plant.app.helper.HerbaceousHelper" scope="prototype">
		<property name="genus" value="Monarda"></property>
		<property name="species" value="Beebalm"></property>
		<property name="common" value="Beebalm"></property>
	</bean>
	<bean id = "coniferousEvergreenHelper" class="pe.com.jdmm21.plant.app.helper.EvergreenHelper" scope="prototype">
		<property name="leafType" value="needle"></property>
	</bean>

	<bean id = "broadLeafEvergreenHelper" class="pe.com.jdmm21.plant.app.helper.EvergreenHelper">
		<property name="leafType" value="broadLeaf"></property>
	</bean>



</beans>